* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
/*Inicio do header */
header {
    background-color: rgb(67, 129, 165); /*cor de fundo*/
    padding: 75px; /*tamanho do preenchimento*/
    
}

.ul-naoOrdenada { /*estilizando a Lista não ordenada*/
    display: flex; /*Colocando as LI lado a lado*/
    justify-content: end; /*Justificando o conteúdo para o fim(posiocionamento) do header*/
}

.ul-naoOrdenada li a { /*âncora do header*/
    text-decoration: none; /*Retirando a decoração de texto (sublinhado)*/
    color: white; /*Cor da letra*/
    font-size: 13px;/*Tamanho da fonte*/
    margin-left: 20px; /*espaçamento entre as linhas/âncoras */
}

.ul-naoOrdenada li a:hover { /*aplicando o hover na âncora*/
    color: rgb(77, 25, 126);/*Cor ao passar o mouse*/
    transition: 0.6s; /*tempo de transição*/
}

/*Fim do Header*/


.sessao { /*Aqui chamamos nosso primeiro ID para estilização*/
    background: linear-gradient(180deg, #b8b9b9 8.33%, rgb(76, 139, 139) 100%); /*Uma cor com degradê*/
    padding: 200px; /*Preenchimento da sessão*/
}

.sessao h1 { /*Título da primeira sessão*/
    font-size: 55px; /*Tamanho da fonte*/
    color: rgba(41, 40, 40, 0.856); /*Cor da letra*/
    font-weight: 600; /*Peso da fonte*/
}

.sessao p { /*Parágrafo para estilização*/
    font-size: 40px; /*Tamanho da fonte*/
    margin-top: 10px; /*Espaçamento superior*/
    margin-bottom: 10px; /*Espaçamento inferior*/
}

.sessao a button { /*Estilização primeiro botão*/
    border-radius: 50px; /*arredondamento do botão*/
    width: 300px; /*Largura do botão*/
    height: 60px; /*Altura do botão*/
    cursor: pointer; /*altera o cursor do mouse*/
    color: turquoise; /*Cor da letra*/
    border-color: turquoise; /*Cor da borda*/
}

.sessao a button:hover { /*Aplicando o hover no botão*/
    color: white; /*Alterando a cor de fundo*/
    background-color: turquoise; /*Cor da letra ao passar o mouse*/
    transition: 0.8s; /*Tempo de transição*/
    border-color: white; /*or da borda*/
}

/*Fim da primeira sessão*/



/*Inicio da sessão 2*/

.app {
    padding: 200px; /*Preenchimento da sessão*/
    background-color: rgba(248, 248, 248, 0.76); /*Cor de fundo*/
    display: flex; /*Tamanho da sessão flex*/ 
    justify-content: space-around; /*alinhamento na horizontal*/
    align-items: center; /*aAlinhamento na vertical*/
}

.div1 a button {
    border-radius: 50px; /*arredondamento do botão*/
    width: 300px; /*Largura do botão*/
    height: 60px; /*Altura do botão*/
    cursor: pointer; /**/
    color: turquoise; /*Cor da letra*/
    border-color: turquoise; /*Cor da borda*/
}

.div1 p {
    font-size: 40px; /*Tamanho da fonte*/
    margin-top: 10px; /*Espaçamento superior*/
    margin-bottom: 20px; /*Espaçamento inferior*/
    font-weight: 500px; /*peso da fonte*/
}

.div1 a button:hover {
    color: white; /*Alterando a cor de fundo*/
    background-color: turquoise; /*Cor da letra ao passar o mouse*/
    transition: 0.8s; /*Tempo de transição*/
    border-color: white; /*or da borda*/
}

.div2 img { /*Estilização da img da sessão 2 (app)*/
    width: 500px; /*Largura da imagem*/
    height: auto; /*Altura da imagem*/
    margin-left: 50px; /*Espaçamento à esquerda*/
}

/*Encerramento da sessão 2*/



/*INICIO DA SESSÃO 3*/

.container { /*estlizando a sessão 3*/
    padding: 200px; /*tamanho da sessão*/
    background-color: rgba(248, 248, 248, 0.76); /*Cor de fundo*/
}

.container h2 { /*Estilização do subtitulo*/
    color: rgba(0, 11, 61, 0.856); /*cor da letra*/
    text-align: center; /*Alinhamento ao centro*/
    font-size: 40px; /*Tamanho da Letra*/
    margin-top: -200px; /*Espaçamento em relação a sessão de cima*/
}

.container p { /*Estilização dos parágrafos*/
    font-size: 20px; /*Tamanho da letra */
    margin-top: 30px; /*Margem superior */
    color: rgba(0, 11, 61, 0.856); /*Cor da letra*/
    text-align: justify; /*Justifcando o texto*/
}

.container a button { /*Estilização do botão*/
    padding: 20px; /*Preenchimento do Botão*/
    border-radius: 50px; /*Arredondamento da borda do botão*/
    width: 300px; /*Largura do botão*/ 
    color: rgb(39, 39, 228); /*Cor da letra*/
    border-color: rgb(39, 39, 228); /*Cor da borda*/
    font-size: 15px; /*Tamanho da letra*/
    margin-top: 40px; /*Margem superior*/
    margin-bottom: 40px; /*Margem inferior*/
}

.container a button:hover {
    background-color: rgb(57, 46, 212);
    color: white;
    border-color: white;
    transition: 0.8s;
    cursor: pointer;
}

.line { /*Estilização da linha*/
    width: 70%; /*Largura da linha*/
    margin: 40px auto; /*Espaçamento de 40px top e bottom e esquerda e direita automáticas*/ 
}

.container img { /*Estilizando a imagem*/
    margin-left: 200px; /*IREMOS ALTERAR A FORMATAÇÃO DE ALINHAMENTO*/
    margin-top: 30px; 
    width: 750px; 
}

.cofre {
    background: linear-gradient(180deg, #111aa059 8.33%, rgba(22, 78, 182, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cofre img {
    width: 420px;
    height: auto;
    margin-top: 80px;
    margin-right: 70px;
    margin-left: 70px;
}

.cofre h2 {
    color: white; 
    font-size: 30px; 
    text-align: center;
}

.cofre p {
    color: white;
    font-size: 20px; 
    text-align: center;
    margin-top: 30px;
}

.cofre span {
    color: yellow;
}

footer {
    padding: 80px;
    background-color: rgba(29, 29, 29, 0.966);
    text-align: center;
}

footer img {
    width: 250px;
    height: auto;
    margin-top: -30px;
    margin-bottom: 20px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.footer-div a {
    text-decoration: none;
    color: white;
}
.footer-div p {
    color: rgba(189, 179, 179, 0.523);
}

.footer-div a:hover {
    color: rgba(255, 0, 51, 0.877);
    transition: 0.6s;
}